<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spring Forum</title>
  <link rel="stylesheet"
        th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<div class="hero is-primary is-bold is-fullheight">
		<div class="hero-body">
			<div class="column is-4 is-offset-4">
				<form id="loginForm" th:action="@{/login}" method="post">
					<article class="card">
						<div class="card-content">
							<div class="notification is-danger" th:if="${param.error}" th:text="#{login-error}"></div>
							<div class="field">
								<label class="label" th:text="#{user.email}"></label>
								<div class="control">
									<input class="input" name="email" value="admin@forum.com">
								</div>
							</div>
							<div class="field">
								<label class="label" th:text="#{user.password}"></label>
								<div class="controler">
									<input class="input" type="password" name="password" value="admin" />
								</div>
							</div>
						</div>	
						<footer class="card-footer">
							<a class="card-footer-item" id="loginBtn" th:text="#{user.login}"></a>
						</footer>
					</article>
				</form>
				
				<label class="label has-text-white has-text-centered"> ou</label>
					<div class="filed is-grouped is-grouped-centered">
						<div class="control">
							<a th:href="@{/login/google}" class="button is-google">
							<span class="icon">
								<i class="fab fa-google"></i>
							</span><span>Connexion avec google</span> 
							</a>
						</div>
					</div>
					<div class="filed is-grouped is-grouped-centered">
						<div class="control">
							<a th:text="@{/}" class="has-text-white">revenir à l'accueil</a>
						</div>
					</div>
			</div>
		</div>
	</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>