<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <div class="container">

    <h1 class="title" th:text="#{project.create}"></h1>
    <form th:action="@{/project}" th:object="${project}" method="post">
      <div class="field">
        <label class="label" th:text="#{project.name}"></label>
        <div class="control">
          <input class="input" th:field="*{name}"/>
          <p class="help is-danger"
             th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}">name error</p>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button type="submit" class="button is-primary is-outlined" th:text="#{submit}"></button>
          <a class="button" th:text="#{cancel}" th:href="@{/}"></a>
        </div>
      </div>

    </form>

  </div>
</section>
</body>
</html>
