<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <div class="container">
    <a th:href="@{/}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16" class="forum-back-arrow">
        <path d="M6 3L0 8l6 5v-3h4V6H6z"></path>
      </svg>
    </a>
    <h1 class="title" th:text="#{project}"></h1>
    <h2 class="subtitle" th:text="${project.name}"></h2>

    <a class="button is-primary" th:text="#{topic.new}"
       th:href="@{/project/{id}/topic/create(id=${project.id})}"></a>

    <a sec:authorize="isAuthenticated() and (hasRole('ADMIN') or principal.id == #vars.project.getCreatedBy().getId())"
       th:text="#{project.edit_project}"
       th:href="@{/project/{id}/edit(id=${project.id})}"
       class="button is-primary"></a>

    <section class="mt-6">
      <article th:each="topic : ${topics}" class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img class="is-circle" th:src="${topic.createdBy.picture}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a class="has-text-dark"
                 th:href="@{/topic/{id}(id=${topic.id})}">
                <strong th:text="${topic.title}">Project Name</strong>
              </a>
              <small th:inline="text">Créé par [[${topic.createdBy.username}]]</small>
              <small th:inline="text">le [[${topic.createdAt.toLocaleString()}]]</small>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <!--<a sec:authorize="isAuthenticated() and (hasRole('ADMIN') or principal.id == #vars.project.getCreatedBy().getId())"-->
                <!--th:href="@{/project/{id}/edit(id=${project.id})}">-->
                <!--<span class="icon has-text-info">-->
                <!--<i class="far fa-edit"></i>-->
                <!--</span>-->
                <!--</a>-->
              </a>
            </div>
          </nav>
        </div>
      </article>
    </section>

  </div>
</section>
</body>
</html>
