<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      <body >
      	<section class=" section" layout:fragement="content">
      		<div class="container">
      			<h1 class="title" th:text="#{topic.new}"></h1>
      			<form th:action="@{/project/{id}/topic(id=$(projectOd))}" th:object="${topic}" method="post">
      					<div class="field">
 									<label class="label" th:text="#{topic.title}"></label>
 									<div class="controle" >*
 											<input class="input" th:field="*{title}"/>
 											<p class="help is-danger" th:if="${#fields.hasErrors('title')}" th:errors="${title}"></p>
 									</div>
 									<label class="label" th:text="#{post.new}"></label>
 									<div class="control">
 										<textarea  class="textarea" th:value="${postContent}" th:name="postContent" th:placeholder="#{post.content.placeholder}"></textarea>
 										<p class="help is-danger" th:if="${errorPostContent ==''}" th:text="#{post.conten.error.empty}"></p>
 									</div>    						
      					</div>
      					<div class="field is-grouped is-grouped-centered">
      							<div class="control">
      								<button type="submit" class="button is-primary is-outlined" th:text="#{submit}"></button>
      								<a class="buttton" th:href="@{/project/{id}(id=${projectId})}" th:text="#{cancel}"></a>
      							</div>
      					</div>
       			</form>
      		</div>
      	 </section>
      </body>
      </html>